body{
    margin: auto;
}
a{
    text-decoration: none;
}
#header{
    height:60px;
    width:100%;
    background-color:#cd7c46;
}

#brand{
    font-size:30px;
    color:white;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
}
#social{
    float: right;
    margin-top: 6px
}
.socialImg{
    height:50px;
}

/*container*/
.container{
    width:85%;
    height:800px;
    margin-left:7%;
    margin-top:3%;
}

.filter{
    width:23%;
    height:500px;
    border:2px solid black;;
    float: left;
}

.card{
    width:72%;
    height:750px;
    border:2px solid green;
    float: left;
    margin-left: 3%;
}

footer{
    text-align:center;
    font-size:20px
}