body{
    margin:auto;
}
a{
    text-decoration: none;
}
/* header css*/
header{
 height:60px;
 background-color: #3b2632;
 /* border:5px solid red */
}

#brand{
    color:white;
    font-size: 30px;
    float: left;
    margin-left:4%;
    margin-top: 1%;
}
#social{
    float: right;
    margin-right: 2%;
    margin-top: 4px;
}

.socialIcon{
    height:50px;
    width:50px;
}

/* Search Css */
#search{
 height:400px;
 width:100%;
 background-image: url("images/foodWallpaper.png");
 background-repeat: no-repeat;
 background-size: cover;
/* background-size: 100% 400px; */
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    margin-left: 43%;
    margin-top: 1%;
    position: absolute;
    border-radius: 50%;
}

#logo> span{
    margin-left: 24%;
    margin-top: 11%;
    position: absolute;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heading{
    margin-left: 30%;
    margin-top: 12%;
    position: absolute;
    color: white;
    font-size: 55px;
}

#dropdown{
    margin-left: 27%;
    margin-top: 19%;
    position: absolute;
    /* border:2px solid white; */
    height:60px;
    width:50%
}

select{
    width:44%;
    height:60px;
    font-size: 20px;
}
.restSelect{
    width:55%;
}

/* QuickSearch Css */
#quickSearch{
    width:80%;
    margin-left: 10%;
    margin-top: 1%;
}

#QuickSearchHeader{
    font-size: 30px;
    color:#3b2632;
    display: block;
    margin-left:2%;

}
#QuickSubHeader{
    font-size: 20px;
    color:gray;
    line-height: 2;
    margin-left:2%;

}
.tileContainer{
    height:180px;
    width: 30% ;
    /* border:2px solid black; */
    margin-left:2%;
    margin-top: 3%;
    display: inline-block;
    box-shadow:10px 15px 10px #3b2632
}

.tileComponent1{
    width:45%;
    float:left;
}

.tileComponent1 > img {
    width:100%;
    height:100%
}

.tileComponent2{
    width:52%;
    float:left;
    margin-top: 15%;
    margin-left:2%
}

.componentHeading1{
    font-size: 25px;
    color:#3b2632;
}

.componentHeading2{
    font-size: 20px;
    color:gray;
}

/* Footer Css */
footer{
    height:80px;
    /* border:5px double purple; */
    background-color: #3b2632;
    text-align: center;
    color:white
}

@media screen and (max-width:1600px){
    body{
        background-color: lightpink;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: rgb(243, 188, 174);
    }
}

@media screen and (max-width:1200px){
    body{
        background-color: rgb(237, 174, 243);
    }
}

@media screen and (max-width:1000px){
    body{
        background-color: rgb(243, 238, 174);
    }
    .tileContainer{
        width:45%
    }
}

@media screen and (max-width:800px){
    body{
        background-color: rgb(174, 184, 243);
    }
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(174, 243, 177);
    }
    .tileContainer{
        width:100%
    }
}